{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f2f22e7c20.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Recomendador de filmes</title>
</head>
<body class="bodyprin">
<header >
    <nav class="navprin">
    
        <a href="#" class="navopcoes"><i class="fa-solid fa-film fa-lg" id= "iconnav"></i> Filmes</a>
        <form class="searchBox" id="searchBox" method="get" action="{% url 'recomendation' %}">
            <input class="searchInput" type="text" name="q" placeholder="Search" onfocus="expandSearchBox()" onblur="collapseSearchBox()" autocomplete="off">
            <button class="searchButton" href="#">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </form>
    </nav>
</header>
<div class="title">
    <div class="title2">
        <div class="containertitle">
          <div  class="h1title"><h1>Descubra o filme que se encaixa nos seus gostos</h1></div>
          <p class="ptitle">Responda o questionario e descubra e tenha uma recomenção com base nas respostas</p>
          <div class="linka"><a href="#" class="linkform">comece aqui</a></div>
        </div>
        <div class="img">
            <img src="{% static 'img/testeimg.png' %}" alt="teste">
        </div>
    </div>
</div>


<div class="container" id="formprin">
    <form id="quiz-form" method="post" action="{% url 'recomendation' %}">
        {% csrf_token %}
        <!-- Pergunta 1 -->
        <div class="question">
            <p class="pergunta">1. Qual é o seu tipo preferido de mídia?</p>
            <div class="options">
                <input id="q1-alternativa-a" name="q1" value="a" type="radio">
                <label for="q1-alternativa-a">Filmes</label>
            </div>
            <div class="options">
                <input id="q1-alternativa-b" name="q1" value="b" type="radio">
                <label for="q1-alternativa-b">Séries</label>
            </div>
            <div class="options">
                <input id="q1-alternativa-c" name="q1" value="c" type="radio">
                <label for="q1-alternativa-c">Documentários</label>
            </div>
            <div class="options">
                <input id="q1-alternativa-d" name="q1" value="d" type="radio">
                <label for="q1-alternativa-d">Animações</label>
            </div>
            <div class="options">
                <input id="q1-alternativa-e" name="q1" value="e" type="radio">
                <label for="q1-alternativa-e">Outros</label>
            </div>
        </div>

        <!-- Pergunta 2 -->
        <div class="question">
            <p class="pergunta">2. Qual é o seu tipo preferido de diretor de mídia?</p>
            <div class="options">
                <input id="q2-alternativa-a" name="q2" value="a" type="radio">
                <label for="q2-alternativa-a">Diretores renomados e premiados</label>
            </div>
            <div class="options">
                <input id="q2-alternativa-b" name="q2" value="b" type="radio">
                <label for="q2-alternativa-b">Diretores clássicos e atemporais</label>
            </div>
            <div class="options">
                <input id="q2-alternativa-c" name="q2" value="c" type="radio">
                <label for="q2-alternativa-c">Diretores contemporâneos em ascensão</label>
            </div>
            <div class="options">
                <input id="q2-alternativa-d" name="q2" value="d" type="radio">
                <label for="q2-alternativa-d">Diretores de mídia independente</label>
            </div>
            <div class="options">
                <input id="q2-alternativa-e" name="q2" value="e" type="radio">
                <label for="q2-alternativa-e">Não tenho preferência por tipo de diretor</label>
            </div>
        </div>

        <!-- Pergunta 3 -->
        <div class="question">
            <p class="pergunta">3. Qual é a sua preferência em relação à duração da mídia?</p>
            <div class="options">
                <input id="q3-alternativa-a" name="q3" value="a" type="radio">
                <label for="q3-alternativa-a">Curtametragem</label>
            </div>
            <div class="options">
                <input id="q3-alternativa-b" name="q3" value="b" type="radio">
                <label for="q3-alternativa-b">Mídias longas</label>
            </div>
            <div class="options">
                <input id="q3-alternativa-c" name="q3" value="c" type="radio">
                <label for="q3-alternativa-c">Duração padrão</label>
            </div>
            <div class="options">
                <input id="q3-alternativa-d" name="q3" value="d" type="radio">
                <label for="q3-alternativa-d">Depende do filme</label>
            </div>
            <div class="options">
                <input id="q3-alternativa-e" name="q3" value="e" type="radio">
                <label for="q3-alternativa-e">Não tenho preferência quanto à duração</label>
            </div>
        </div>

        <!-- Pergunta 4 -->
        <div class="question">
            <p class="pergunta">4. O que você valoriza mais em um conteúdo audiovisual?</p>
            <div class="options">
                <input id="q4-alternativa-a" name="q4" value="a" type="radio">
                <label for="q4-alternativa-a">Enredo cativante</label>
            </div>
            <div class="options">
                <input id="q4-alternativa-b" name="q4" value="b" type="radio">
                <label for="q4-alternativa-b">Desenvolvimento de personagens</label>
            </div>
            <div class="options">
                <input id="q4-alternativa-c" name="q4" value="c" type="radio">
                <label for="q4-alternativa-c">Atuação excepcional</label>
            </div>
            <div class="options">
                <input id="q4-alternativa-d" name="q4" value="d" type="radio">
                <label for="q4-alternativa-d">Produção visual impressionante</label>
            </div>
            <div class="options">
                <input id="q4-alternativa-e" name="q4" value="e" type="radio">
                <label for="q4-alternativa-e">Mensagem ou tema poderoso</label>
            </div>
        </div>

        <!-- Pergunta 5 -->
        <div class="question">
            <p class="pergunta">5. Você tende a preferir mídia baseada em fatos reais ou ficção completa?</p>
            <div class="options">
                <input id="q5-alternativa-a" name="q5" value="a" type="radio">
                <label for="q5-alternativa-a">Fatos Reais</label>
            </div>
            <div class="options">
                <input id="q5-alternativa-b" name="q5" value="b" type="radio">
                <label for="q5-alternativa-b">Ficção</label>
            </div>
            <div class="options">
                <input id="q5-alternativa-c" name="q5" value="c" type="radio">
                <label for="q5-alternativa-c">Uma mistura dos dois</label>
            </div>
            <div class="options">
                <input id="q5-alternativa-d" name="q5" value="d" type="radio">
                <label for="q5-alternativa-d">Depende do meu humor</label>
            </div>
            <div class="options">
                <input id="q5-alternativa-e" name="q5" value="e" type="radio">
                <label for="q5-alternativa-e">Não tenho preferência</label>
            </div>
        </div>

        <!-- Pergunta 6 -->
        <div class="question">
            <p class="pergunta">6. Qual é o momento ideal para você consumir mídia?</p>
            <div class="options">
                <input id="q6-alternativa-a" name="q6" value="a" type="radio">
                <label for="q6-alternativa-a">Noite</label>
            </div>
            <div class="options">
                <input id="q6-alternativa-b" name="q6" value="b" type="radio">
                <label for="q6-alternativa-b">Tarde</label>
            </div>
            <div class="options">
                <input id="q6-alternativa-c" name="q6" value="c" type="radio">
                <label for="q6-alternativa-c">Manhã</label>
            </div>
            <div class="options">
                <input id="q6-alternativa-d" name="q6" value="d" type="radio">
                <label for="q6-alternativa-d">Finais de semana</label>
            </div>
            <div class="options">
                <input id="q6-alternativa-e" name="q6" value="e" type="radio">
                <label for="q6-alternativa-e">Qualquer hora</label>
            </div>
        </div>

        <!-- Pergunta 7 -->
        <div class="question">
            <p class="pergunta">7. Como você prefere consumir mídia?</p>
            <div class="options">
                <input id="q7-alternativa-a" name="q7" value="a" type="radio">
                <label for="q7-alternativa-a">Sozinho</label>
            </div>
            <div class="options">
                <input id="q7-alternativa-b" name="q7" value="b" type="radio">
                <label for="q7-alternativa-b">Com a família</label>
            </div>
            <div class="options">
                <input id="q7-alternativa-c" name="q7" value="c" type="radio">
                <label for="q7-alternativa-c">Com amigos</label>
            </div>
            <div class="options">
                <input id="q7-alternativa-d" name="q7" value="d" type="radio">
                <label for="q7-alternativa-d">Com meu parceiro(a)</label>
            </div>
            <div class="options">
                <input id="q7-alternativa-e" name="q7" value="e" type="radio">
                <label for="q7-alternativa-e">Não tenho preferência, depende da mídia</label>
            </div>
        </div>

        <!-- Pergunta 8 -->
        <div class="question">
            <p class="pergunta">8. Você tem preferência por mídia nacional ou internacional?</p>
            <div class="options">
                <input id="q8-alternativa-a" name="q8" value="a" type="radio">
                <label for="q8-alternativa-a">Nacional</label>
            </div>
            <div class="options">
                <input id="q8-alternativa-b" name="q8" value="b" type="radio">
                <label for="q8-alternativa-b">Internacional</label>
            </div>
            <div class="options">
                <input id="q8-alternativa-c" name="q8" value="c" type="radio">
                <label for="q8-alternativa-c">Com participação de brasileiros em produções internacionais</label>
            </div>
            <div class="options">
                <input id="q8-alternativa-d" name="q8" value="d" type="radio">
                <label for="q8-alternativa-d">Não tenho preferência, depende da mídia</label>
            </div>
            <div class="options">
                <input id="q8-alternativa-e" name="q8" value="e" type="radio">
                <label for="q8-alternativa-e">Gosto de todos igualmente</label>
            </div>
        </div>

        <!-- Pergunta 9 -->
        <div class="question">
            <p class="pergunta">9. Que tipo de experiência midiática você está procurando agora?</p>
            <div class="options">
                <input id="q9-alternativa-a" name="q9" value="a" type="radio">
                <label for="q9-alternativa-a">Mídia reflexiva e profunda</label>
            </div>
            <div class="options">
                <input id="q9-alternativa-b" name="q9" value="b" type="radio">
                <label for="q9-alternativa-b">Mídia engraçada e leve</label>
            </div>
            <div class="options">
                <input id="q9-alternativa-c" name="q9" value="c" type="radio">
                <label for="q9-alternativa-c">Mídia tensa e emocionante</label>
            </div>
            <div class="options">
                <input id="q9-alternativa-d" name="q9" value="d" type="radio">
                <label for="q9-alternativa-d">Mídia intrigante e misteriosa</label>
            </div>
            <div class="options">
                <input id="q9-alternativa-e" name="q9" value="e" type="radio">
                <label for="q9-alternativa-e">Mídia repleta de ação</label>
            </div>
        </div>

        <!-- Pergunta 10 -->
        <div class="question">
            <p class="pergunta">10. Você tende a preferir mídias mais recentes ou filmes clássicos e antigos?</p>
            <div class="options">
                <input id="q10-alternativa-a" name="q10" value="a" type="radio">
                <label for="q10-alternativa-a">Mídias mais recentes</label>
            </div>
            <div class="options">
                <input id="q10-alternativa-b" name="q10" value="b" type="radio">
                <label for="q10-alternativa-b">Mídias clássicas e antigas</label>
            </div>
            <div class="options">
                <input id="q10-alternativa-c" name="q10" value="c" type="radio">
                <label for="q10-alternativa-c">Gosto tanto de filmes recentes quanto de filmes clássicos</label>
            </div>
            <div class="options">
                <input id="q10-alternativa-d" name="q10" value="d" type="radio">
                <label for="q10-alternativa-d">Depende do meu humor</label>
            </div>
            <div class="options">
                <input id="q10-alternativa-e" name="q10" value="e" type="radio">
                <label for="q10-alternativa-e">Não tenho preferência</label>
            </div>
        </div>

        <div class="submit-button">
            <button class="bn632-hover bn22" type="submit">Enviar Respostas</button>
        </div>
    </form>
</div>

<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>