* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
}

:root {
  --cor1: #05F26C;
  --cor2: #03A64A;
  --cor3: #60BF89;
  --cor4: #01260E;
  --cor5: #0D0D0D;
  --font-padrao: "Montserrat", sans-serif;
}

html, .bodyprin {
  height: 100%;
}

.bodyprin {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
}

.lines {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 50vw;
}

.line {
  position: fixed;
  width: 1px;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #05F26C 75%, #03A64A 100%);
  -webkit-animation: drop 3s linear infinite;
          animation: drop 3s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -22%;
}
.line:nth-child(2) {
  margin-left: -17%;
}
.line:nth-child(3) {
  margin-left: -12%;
}
.line:nth-child(4) {
  margin-left: -7%;
}


.line:nth-child(5) {
  margin-left: 57%;
}
.line:nth-child(6) {
  margin-left: 62%;
}
.line:nth-child(7) {
  margin-left: 67%;
}
.line:nth-child(8) {
  margin-left: 72%;
}

.line:nth-child(1)::after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.line:nth-child(2)::after {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.line:nth-child(4)::after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.line:nth-child(5)::after {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.line:nth-child(6)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.line:nth-child(7)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.line:nth-child(8)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

header {
  background-color: var(--cor5);
  padding-bottom: 20px;
}

nav {
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  z-index: 1;
}

nav > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 12px;
  margin: 5px;
}

.navopcoes:hover {
  color: var(--cor4);
  text-decoration: none;
  background-color: var(--cor1);
  border-radius: 5px;
  transition: 0.5s;
}

#iconnav {
  color: var(--cor1);
  transition: color 0.5s;
  padding-right: 8px;
}

.navopcoes:hover #iconnav {
  color: var(--cor4);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

.options input {
  display: none;
}

.options input + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid gray;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
}

.options input:checked + label::before {
  background-color: var(--cor1);
}

.submit-button {
  text-align: center;
}

.pergunta {
  font-size: 18px;
  font-weight: bold;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  color: white;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22 {
  background-image: linear-gradient(to right, #05F26C, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}