@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url("https://fonts.googleapis.com/css?family=Titan+One");

@font-face {
  font-family: 'Typewriter';
  src: url('/static/fonts/JMH_Typewriter.ttf') format('truetype');
}



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
}

:root {
  --cor0: #171717;
  --cor1: #05F26C;
  --cor2: #03A64A;
  --cor3: #60BF89;
  --cor6: #004e22;
  --cor4: #01260E;
  --cor5: #0D0D0D;
  --font-padrao: "Montserrat", sans-serif;
}

html, .bodyprin {
  height: 100%;
}

.bodyprin {
  display: table;
  width: 100%;  
  height: 100%;
  background-color: var(--cor0);
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
}

.lines {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
  width: 50vw;
  z-index: 1;
}

.line {
  position: fixed;
  width: 1px;
  opacity: 10px;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  z-index: 1;
}

.line::before,
.line::after {
 content: "";
 display: block;
 position: absolute;
 height: 15vh;
 width: 100%;
 top: -50%;
 left: 0;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #05F26C 75%, #03A64A 100%);
 animation: drop 2s linear infinite;
 animation-fill-mode: forwards;
 animation-timing-function: linear;
}

.line::before {
 animation-delay: 3s; 
}


@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/*linhas esquerda*/
.line:nth-child(1) {
  margin-left: -22%;
}
.line:nth-child(2) {
  margin-left: -17%;
}
.line:nth-child(3) {
  margin-left: -12%;
}
.line:nth-child(4) {
  margin-left: -7%;
}

/*linhas direita*/
.line:nth-child(5) {
  margin-left: 57%;
}
.line:nth-child(6) {
  margin-left: 62%;
}
.line:nth-child(7) {
  margin-left: 67%;
}
.line:nth-child(8) {
  margin-left: 72%;
}

/*linhas esquerda*/
.line:nth-child(1)::before,
.line:nth-child(1)::after {
  animation-delay: 1s;
}

.line:nth-child(2)::before,
.line:nth-child(2)::after {
  animation-delay: 1.5s;
}

.line:nth-child(3)::before,
.line:nth-child(3)::after {
  animation-delay: 2s;
}

.line:nth-child(4)::before,
.line:nth-child(4)::after {
  animation-delay: 2.5s;
}

/*linhas direita*/
.line:nth-child(5)::before,
.line:nth-child(5)::after {
  animation-delay: 2.5s;
}
.line:nth-child(6)::before,
.line:nth-child(6)::after {
  animation-delay: 2s;
}
.line:nth-child(7)::before,
.line:nth-child(7)::after {
  animation-delay: 1.5s;
}
.line:nth-child(8)::before,
.line:nth-child(8)::after {
  animation-delay: 1s;
}


header{
  height: 100vh;
}



.navprin {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}


nav > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 12px;
  margin: 5px;
}

.navopcoes:hover {
  color: var(--cor4);
  text-decoration: none;
  background-color: var(--cor1);
  border-radius: 5px;
  transition: 0.5s;
}

#iconnav {
  color: var(--cor1);
  transition: color 0.5s;
  padding-right: 8px;
}

.navopcoes:hover #iconnav {
  color: var(--cor4);
}


.searchBox {
  position: static;
  padding-top: 10px;
}

.searchBox.open .searchInput,
.searchInput:focus {
  color: black;

}

.searchButton {
  color: var(--cor4);
  border: none;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--cor1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  outline: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-right: 2px;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.searchInput::placeholder {
  color: black;
}

.searchBox:hover > .searchButton {
  background: var(--cor4);
  color: var(--cor1);
  border-radius: 0%;
  transition: 0.1s;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.searchBox:hover .searchInput {
  width: 190px;
  padding: 0 6px;
}

@media screen and (max-width: 620px) {
  .searchBox.open .searchInput,
  .searchInput:focus {
      width: 150px;
      padding: 0 6px;
  }
}

#spanlink{
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 30px;
}
#scrollLink{
  text-decoration: none;
  color: var(--cor1);
  font-size: 30px;
  font-family: 'JetBrains Mono';  
  transform: rotate(90deg); 
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
      border-color: transparent;
  }
  50% {
      border-color: white;
  }
}



.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  z-index: 2;
  position: relative;
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

.options input {
  display: none;
}

.options input + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid gray;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
}

.options input:checked + label::before {
  background-color: var(--cor1);
}

.submit-button {
  text-align: center;
}

.pergunta {
  font-size: 18px;
  font-weight: bold;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  color: white;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22 {
  background-image: linear-gradient(to right, #05F26C, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

#title {
  top: 5%;
  font-weight: 700;
  text-align: center;
  font-size: 85px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #171717, #05F26C, #171717);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

@media screen and (max-width: 867px) {
  #title{
    font-size: 55px;
  }
}

@media screen and (max-width: 577px) {
  .line, .lines{
    visibility: hidden;
  }

}
@media screen and (max-width: 1565px) {

  .line:nth-child(3),
  .line:nth-child(4),
  .line:nth-child(5),
  .line:nth-child(6){
    visibility: hidden;
  }
  
}
@media screen and (max-width: 1820px) {

  .line:nth-child(4),
  .line:nth-child(5) {
    visibility: hidden;
  }
  
}
