

@font-face {
  font-family: 'SourceSanspro';
  src: url('/static/fonts/SourceSansPro-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
  }
  
  :root {
    --cor0: #171717;
    --cor1: #0cbccc;
    --cor2: #032541;
    --cor3: #107acc;
    --cor6: #15297c;
    --cor4: #142157;
    --cor5: #0D0D0D;
    --cor6: #F9BE00;
    --font-padrao: "SourceSanspro", sans-serif;
  }



body {
    min-height: 530px;
    position: relative;
    z-index: 0;
    padding-bottom: 0px;
    font-family: var(--font-padrao);
}

#filme-details{
  margin-bottom: 10px;
}
.center {
  position: relative;
  margin: 10px;
  width: 350px;
  border-radius: 5px;
}

.imgWrap {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
}

#title{
  font-size: 55px;
  font-weight: bold;
  padding-bottom: 10px;
  color: black;
}
h2{
  font-size: 35px;
}

.descriprin > p{
  font-size: 20px;
}
.descriprin {
  font-family: 'SourceSanspro';
  position: relative;
  color: black;
  padding: 16px;
  flex: 1;
  padding: 10px;
}

#diretor{
  font-size: 20px;
}
.center {
  max-width: 100%;
}

/* Adicionado um estilo para garantir que a imagem backdrop não seja selecionável */
.backdrop img {
  user-select: none;
}


.navprin {
  display: flex;
  justify-content: left;
  text-align: left;
  background-image: linear-gradient(to right, #032541, #142157, #15297c);
  align-items: center;
  justify-content: space-between;
}


nav > a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 12px;
  margin: 5px;
  padding-left: 120px;
}

nav > i{
  padding-right: 100px;
}


ul {
  display: flex;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 100%;
}

.liatores {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 10px;
  width: 200px;
}

.listatores{
  box-shadow:0px 0px 7px 1px rgba(0, 0, 0, 0.356);
  border-radius: 5px;
  max-width: 80%;
}

#atores {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.nomeator{
  font-weight: bolder;
  padding-left: 2px;
}

.personagen{
  font-size: 14px;
  padding-left: 2px;
  padding-top: 2px
}

.descri2{
  display: flex;
  align-items: center;
  position: relative; 
  color: black;
}

.diretortrailer{
  display: flex;
  align-items: center;
  position: relative; 
}

.trailer{
  padding-top: 10px;
  padding-left: 50px;
}

#sinopse{
  max-width: 80%;
}

.descri2 p{
  padding-left: 12px;
  padding-right: 0px;
  
}


.descri3{
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  position: relative;
  color: black;
}


.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #15297c;
  background: #15297c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchBox{
  padding-bottom: 30px;
}
.searchTerm {
  width: calc(100% + 50px);
  margin-left: -50px;
  border: 3px solid #15297c;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.wrap {
  width: 15%; /* Ajuste o valor conforme necessário */
  position: absolute;
  left: 83%;
  transform: translateX(-50%);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

#videoOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

#videoContainer {
  position: relative;
}

#videoFrame {
  width: 982px;
  height: 551px;
}

#closeButton {
  position: absolute;
  top: -13px;
  right: -95px;
  padding: 5px 10px;
  cursor: pointer;
}

.material-symbols-outlined{
  font-size: 45px;
  color: white;
}

.material-symbols-outlined:hover{
  color: black;
}

#nota{
  opacity: 0;
}

.Elenco{
  padding-left: 10px;
}

.pdescri{
  font-size: 20px;
}