{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <title>Recomendação</title>
</head>
<body>
    <div id="filme-details" class="container">
        {% if filme %}
        <h1>{{ filme.title }}</h1>
        <div class="imgWrap">
            <img class="center" src="{% url 'proxy_image' filme.poster_path %}" alt="{{ filme.title }} Capa" data-adaptive-background="1">
        </div>
        <p>Duração: {{ filme.runtime }} minutos</p>
        <p>
            Gêneros:
            {% for genero in filme.genres %}
                {{ genero.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p>{{ filme.overview }}</p>
        <p>Data de Lançamento: {{ filme.release_date }}</p>
        <p>Nota Média: {{ filme.vote_average|floatformat:1 }}</p>
        
        <h2>Diretor</h2>
        <p>{{ filme.diretor }}</p>
        {% if filme.diretor_imagem %}
        <img src="https://image.tmdb.org/t/p/w185/{{ filme.diretor_imagem }}" alt="{{ filme.diretor }} Foto">
        {% endif %}
        
        <h2>Elenco Principal</h2>
        <ul>
            {% for ator in filme.cast %}
                <li>
                    <img src="https://image.tmdb.org/t/p/w185/{{ ator.profile_path }}" alt="{{ ator.name }} Foto">
                    <p>{{ ator.name }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Filme não encontrado.</p>
        {% endif %}

        <h2>Classificação por Idade</h2>
        <p>{{ filme.classificacao }}</p>

        <h2>Idioma Original</h2>
        <p>{{ filme.idioma_original }}</p>

        <h2>Links para Redes Sociais</h2>
        <p>Twitter: {{ filme.twitter }}</p>
        <p>Facebook: {{ filme.facebook }}</p>
        <p>Instagram: {{ filme.instagram }}</p>

        <h2>Filmes Relacionados</h2>
        <ul>
            {% for filme_relacionado in filme.filmes_relacionados %}
                <li>{{ filme_relacionado.title }}</li>
            {% endfor %}
        </ul>


        {% if filme.trailer_id %}
        <h2>Trailer</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ filme.trailer_id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        
        <a id="voltar" href="{% url 'home' %}">Voltar para a Página Inicial</a>
    </div>
    <script src="{% static 'js\adaptive-backgrounds.js' %}"></script>
    <script>
        AdaptiveBackgrounds();
    </script>
</body>
</html>
