{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f2f22e7c20.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <title>Recomendação</title>
</head>
<body>
    <header >
        <nav class="navprin">
            <a href="#"><img src="{% static 'img/CINEMAP3.png' %}" alt="logo" style="height: 60px;"></a>
            
            <form class="searchBox" id="searchBox" method="get" action="{% url 'recomendation' %}">
                <div class="wrap">
                    <div class="search">
                       <input name="q" type="text" class="searchTerm" placeholder="Digite o filme que deseja pesquisar" onfocus="expandSearchBox()" onblur="collapseSearchBox()" autocomplete="off">
                       <button type="submit" class="searchButton">
                         <i class="fa fa-search"></i>
                      </button>
                    </div>
                 </div>
            </form>
            <i class="fa-solid fa-user fa-2xl" style="color: #ffffff;"></i>
        </nav>
    </header>
    <div id="filme-details" class="container">
        {% if filme %}
        
        <div class="imgWrap">
            <img class="center" src="{% url 'proxy_image' filme.poster_path %}" alt="{{ filme.title }} Capa" data-adaptive-background="1">
            
            <div class="descriprin">

                <h1>{{ filme.title }}</h1>
   
                <div class="descri2">
                    <p id="nota">{{ filme.vote_average|floatformat:1 }}</p>
                    <p id="data">◦      {{ filme.release_date }}</p>
                    <p id="genero">
                        ◦
                        {% for genero in filme.genres %}
                            {{ genero.name }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    
                    <p> ◦{{ filme.runtime }} minutos</p>
                </div>
                
                
                
                <h2>Sinopse</h2>
                <p>{{ filme.overview }}</p>
                
                
            </div>
        </div>
        
        
        <h2>Diretor</h2>
        <p>{{ filme.diretor }}</p>
        {% if filme.diretor_imagem %}
        <img src="https://image.tmdb.org/t/p/w185/{{ filme.diretor_imagem }}" alt="{{ filme.diretor }} Foto">
        {% endif %}
        
        <h2>Elenco Principal</h2>
        <ul>
            {% for ator in filme.cast %}
                <li class="liatores">
                    <div class="listatores">
                    <img id="atores" src="https://image.tmdb.org/t/p/w185/{{ ator.profile_path }}" alt="{{ ator.name }} Foto">
                    <p class="nomeator">{{ ator.name }}</p>
                    {% if ator.character %}
                        <p class="personagen">{{ ator.character }}</p>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Filme não encontrado.</p>
        {% endif %}

        

        <h2>Idioma Original</h2>
        <p>{{ filme.idioma_original }}</p>
        

        <h2>Filmes Relacionados</h2>
        <ul>
            {% for filme_relacionado in filme.filmes_relacionados %}
                <li>{{ filme_relacionado.title }}</li>
            {% endfor %}
        </ul>


        {% if filme.trailer_id %}
        <h2>Trailer</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ filme.trailer_id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        
        <a id="voltar" href="{% url 'home' %}">Voltar para a Página Inicial</a>
    </div>
    <script src="{% static 'js\adaptive-background.js' %}"></script>
    <script>
        AdaptiveBackgrounds();
    </script>
</body>
</html>
