<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recommendation</title>
</head>
<body>
    <div class="container">
        <h1>filme recomendado</h1>
        <table>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>genero</th>
                <th>ano</th>
            </tr>
            {% for recommendation in recomendacao_filmes %}
            <tr>
                <td>{{recommendation.id_filme}}</td>
                <td>{{recommendation.nome}} </td>
                <td>{{recommendation.genero}} </td>
                <td>{{recommendation.ano}} </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</body>
</html>